*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
.app{
  min-height: 96vh;
 /* background-image: url('./asstets/bg.jpg'); */
 /* background-size: cover; */
}
.loader{
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%,-50%);
 
}